/* Global */

body {
    font-size: 16px;
    color: rgb(116, 89, 79);
    background-image: url('bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    text-shadow: 1px 1px 1px rgba(255,255,255,.3);
}
a,
a:visited {
    color: gold;
    text-decoration: none;
}
a:hover {
    color: yellow;
}
h1,h2,h3,h4 {
    color: rgba(0,0,0,.5);
}
img {
    width: auto;
    height: auto;
}


/* Layout */

.container {
    width: 960px;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    height: 100%;
    position: relative;
}
    .page-content {
        background-color: rgba(255,255,255,.9);
        padding: 20px;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    }
        .page-width--narrow {
            width: 400px;
        }

    .page-footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
}

/* Navigation */

.nav {
    text-align: center;
}

.nav--main {
    list-style-type: none;
    padding: 0;
}
    .nav--main__link {
        display: inline;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1em;
        text-shadow: 2px 2px 1px rgba(0,0,0,.8);
    }
    .nav--main__link:last-child {
        margin: 0;
    }

.nav__link .current {
    color: white;
}


.label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    color: #ddd;
    width: 90px;
    text-align: right;
    padding-right: 5px;
}
.field-cell {
    padding: 5px 0;
    vertical-align: middle;
}
    .field {
        font-size: 1.5em;
    }
        .field--name {
            width: 10em;
        }
        .field--age {
            width: 2em;
        }
        .field--reason {
            width: 250px;
            height: 50px;
        }
        .field--image {
            font-size: 1em;
        }
.button--add-dad {
    margin-top: 10px;
    font-size: 1.2em;
}


/* Residents Page */
.resident-index {
    list-style-type: none;
    padding: 0;
}
    .dad {
        display: inline-block;
        width: 200px;
        margin: 0 10px 15px 0;
        padding: 10px;
        vertical-align: top;
    }
        .dad__image {
            width: 100%;
            height: 200px;
            overflow: hidden;
            background-color: black;
            border-radius: 10px;
            vertical-align: middle;
            text-align: center;
        }
            .dad__image img {
                width: 200px;
                height: auto;
            }